
      {% load static %}



      
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-briefcase icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Web design</h6>
                  <p>
                    Any kind of custom web design i can do and delivered a well thought-out design in very little time.
                  </p>
                  <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-desktop icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Web Development</h6>
                  <p>
                    As a professional Full-stack web Developer with 1 years+ of experience in Python and Django and can build a website according to the latest web standards.
                  </p>
                  <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-beaker icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Coded carefully</h6>
                  <p>
                    My goal is to help you achieve your project goals and results efficiently and effectively, and even painlessly.
                  </p>
                  <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
            </div>
            <div class="span3">
              <div class="box aligncenter">
                <div class="aligncenter icon">
                  <i class="icon-coffee icon-circled icon-64 active"></i>
                </div>
                <div class="text">
                  <h6>Sit and enjoy</h6>
                  <p>
                    Since the client is one of the most important people, I really feel like my care for them is one of my greatest successes. 
                  </p>
                  <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

 <!-- this is divider design  -->
      <div class="row">
        <div class="span12">
          <div class="solidline">
          </div>
        </div>
      </div>