{% load static %}
<section id="featured">
    <!-- start slider -->
    <!-- Slider -->
    <div id="nivo-slider">
        <div class="nivo-slider">
            <!-- Slide #1 image -->
            <img src="{% static 'img/slides/nivo/bg-1.jpg' %}" alt="" title="#caption-1" />
            <!-- Slide #2 image -->
            <img src="{% static 'img/slides/nivo/bg-2.jpg' %}" alt="" title="#caption-2" />
            <!-- Slide #3 image -->
            <img src="{% static 'img/slides/nivo/bg-3.jpg' %}" alt="" title="#caption-3" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!-- Slide #1 caption -->
                    <div class="nivo-caption" id="caption-1">
                        <div>
                            <h2>Web Development <strong>( DJANGO )</strong></h2>
                            <p>
                                As a professional Full-stack web Developer with 1 years+ of experience in Python and Django and can build a website according to the latest web standards. 
                            </p>
                            <a href="{% url 'contact' %}" class="btn btn-theme">Contact</a>
                        </div>
                    </div>
                    <!-- Slide #2 caption -->
                    <div class="nivo-caption" id="caption-2">
                        <div>
                            <h2>Fully <strong>responsive Design</strong></h2>
                            <p>
                                I am passionate and believe in best practices and modern trends in web design.
                                 Your site is the reflection of your projects. That’s why I try to design sites that reflect your style and industry. 
                            </p>
                            <a href="{% url 'contact' %}" class="btn btn-theme">Contact</a>
                        </div>
                    </div>
                    <!-- Slide #3 caption -->
                    <div class="nivo-caption" id="caption-3">
                        <div>
                            <h2>REACT  <strong>JS</strong></h2>
                            <p>
                               I can do front end work with javascript and React.In the past few months, I have worked for some project with React Js.
                            </p>
                            <a href="{% url 'contact' %}" class="btn btn-theme">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider -->
</section>