{% load static %}
<section class="callaction">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="big-cta">
          <div class="cta-text">
            <h3>
              We've created more than
              <span class="highlight"><strong>5000 websites</strong></span> this
              year!
            </h3>
          </div>
          <div class="cta floatright">
            <a class="btn btn-large btn-theme btn-rounded" href="#"
              >Request a quote</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <!-- include here the business body part -->
    {% include 'partials/body2nd.html' %}

    <!-- end the business body part-->
    <!-- divider -->

    <!-- end divider -->
    <!-- Portfolio Projects -->
    <div class="row">
      <div class="span12">
        <h4 class="heading">Some of recent <strong>works</strong></h4>
        <div class="row">
          <section id="projects">
            <ul id="thumbs" class="portfolio">
              <!-- Item Project and Filter Name -->
              {% for list in most_recent %}
              <li
                class="item-thumbs span3 design"
                data-id="id-0"
                data-type="web"
              >
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->

                <a
                  class="hover-wrap fancybox"
                  data-fancybox-group="gallery"
                  title="{{list.title}}"
                  href="{{ list.postimage1.url }}"
                >
                  <span class="overlay-img"></span>
                  <span class="overlay-img-thumb font-icon-plus"></span>
                </a>

                <!-- Thumb Image and Description -->
                <img src="{{ list.thumbnail.url }}" alt="{{ list.overview }}" />
              </li>

              {% endfor %}
              <!-- End Item Project -->

              <!-- End Item Project -->
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- End Portfolio Projects -->
    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="solidline"></div>
      </div>
    </div>
    <!-- end divider -->
    <div class="row">
      <div class="span12">
        <h4>Very satisfied <strong>clients</strong></h4>
        <ul
          id="mycarousel"
          class="jcarousel-skin-tango recent-jcarousel clients"
        >
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client1.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client2.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client3.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client4.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client5.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client6.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client1.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="{% static 'img/dummies/clients/client2.png' %}"
                class="client-logo"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
