{% extends 'base.html' %}

{% load static %}
{% block content %}
<section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="inner-heading">
            <h2>Portfolio detail</h2>
          </div>
        </div>
        <div class="span8">
          <ul class="breadcrumb">
            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
            <li><a href="#">Portfolio</a><i class="icon-angle-right"></i></li>
            <li class="active">Project's detail</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="span8">
          <article>
            <div class="top-wrapper">
              <div class="post-heading">
                <h3><a href="#">{{details.title}}</a></h3>
              </div>
              <!-- start flexslider -->
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <img src="{{ details.postimage1.url }}" alt="" />
                  </li>
                  <li>
                    <img src="{{ details.postimage2.url }}" alt="" />
                  </li>
                  <li>
                    <img src="{{ details.postimage3.url }}" alt="" />
                  </li>
                </ul>
              </div>
              <!-- end flexslider -->
            </div>
            <p>
            {{ details.content }}
            </p>
          </article>
        </div>
        <div class="span4">
          <aside class="right-sidebar">
            <div class="widget">
              <h5 class="widgetheading">Project information</h5>
              <ul class="folio-detail">
                <li><label>Project Category :</label> {{details.categories.title}}</li>
                <li><label>Client Name:</label> {{details.clients}}</li>
                <li><label>Project delivery date:</label> {{details.projectDelevery}}</li>
                <li><label>Project URL :</label><a href="#">{{details.projectUrl}}</a></li>
                
                <li><label>Project Details PDF:</label><a href="{{details.file.url}}" target="_blank">{{details.file.url}}</a></li>
                
          
               
              </ul>
            </div>
            <div class="widget">
              <h5 class="widgetheading">Project Overview</h5>
              <p>
                {{details.overview}}
              </p>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
{% endblock %}